<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp620230703005922.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1f72c658-fbd1-4140-a457-a9498ec4290b/resourcegroups/FunctionApp620230703005922ResourceGroup/providers/Microsoft.Web/sites/FunctionApp620230703005922</ResourceId>
    <UserName>$FunctionApp620230703005922</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp620230703005922.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>